<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0AjJnjYSe0g4W3vdWXJ4meq6Uq1_qNKM</string>
	<key>GCM_SENDER_ID</key>
	<string>1007839730818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kadambatech.cpl</string>
	<key>PROJECT_ID</key>
	<string>cplt20-f98b2</string>
	<key>STORAGE_BUCKET</key>
	<string>cplt20-f98b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007839730818:ios:fa2e0883c3d0d8f6ca689b</string>
</dict>
</plist>